.head {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: calc(env(safe-area-inset-top, 0px) + var(--head-height));
  padding-top: env(safe-area-inset-top, 0px);

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, var(--opacity-nav-head));
  backdrop-filter: var(--blur-nav-head);
  -webkit-backdrop-filter: blur(var(--blur-nav-head));

  z-index: 10001;

  border-radius: 0 0 0 0;

  /* отключаем обычный border */
  border: none;
}

/* псевдоэлемент для чистого бордера */
.head::before {
  width: 100%;
  content: '';
  position: absolute;
  inset: 0; /* растягиваем на весь блок */
  border-radius: 0 0 0 0;
  border-top: none;
  border-bottom: 1px solid var(--tg-accent-theme);
  /* border-left: 1px solid var(--tg-accent-theme);
  border-right: 1px solid var(--tg-accent-theme); */
  pointer-events: none; /* чтобы не мешать клику */
}

.head-title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: var(--tg-accent-theme);
  user-select: none;
}

/* тёмная тема */
@media (prefers-color-scheme: dark) {
  :root:not(.theme-light) .head {
    background: rgba(20, 20, 20, var(--opacity-nav-head));
  }
}

.theme-dark .head {
  background: rgba(20, 20, 20, var(--opacity-nav-head));
}

.theme-light .head {
  background: rgba(255, 255, 255, var(--opacity-nav-head));
}
