.wishes-page {
  /* padding: var(--spacing-xl); */
  /* Отступ сверху: высота Head + safe-area-inset-top + обычный padding */
  padding-top: calc(env(safe-area-inset-top, 0px) + var(--head-height));
  /* min-height: calc(100vh - 80px); */
  /* padding-bottom: 100px; */
  background-color: inherit;
  color: inherit;
  min-height: 100vh;
}

.wishes-page h1 {
  font-size: var(--font-size-xl);
  margin-bottom: var(--spacing-lg);
  color: inherit;
}

.placeholder-text {
  color: inherit;
  opacity: 0.6;
  font-size: var(--font-size-md);
}

